<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<section class="seccion_1">

  <form class="" action="http://localhost:3000/creando_libros" method="POST" enctype="multipart/form-data">

    <div class="informacion">

      <input type="text" name="nombre" value="" placeholder="nombre">
<input type="number" name="precio" value="" placeholder="precio">
<input type="radio" name="tipo" value="terror" placeholder="precio">
<input type="file" name="libro" value="" placeholder="libro">

<input type="submit" name="" value="Registrar">
    </div>




  </form>


</section>




  </body>
</html>
