doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  title
  link(rel='stylesheet' href='./css/main.css')
header
  .header_nav
    .logo
    nav
      ul
        li
          a(href='#')  Inicio
        li
          a(href='http://localhost:3000/vista_libros_usuarios')  Libros
  .breadgrump
    p  La mejor biblioteca virtual
footer
