doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  title
  link(rel='stylesheet' href='../css/libros.css')
header
  .header_nav
    .logo
    nav
      ul
        li
          a(href='#')  Inicio
        li
          a(href='#')  Libros
  .breadgrump
    p  Libros
section.seccion_1
script(src='../js/libros.js')
footer
